[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
matplotlib = "*"
plotly = "*"
limepy = "*"
bs4 = "*"
openpyxl = "*"
xlsxwriter = "*"
pandas-profiling = "*"
phik = "*"

[dev-packages]
pyflakes = "*"
isort = "*"
python-lsp-server = "*"
pyls-black = "*"
flake8 = "*"

[requires]
python_version = "3.9"
